body{
	background-image: url(sitefiles/back01.jpg);
	background-size: cover;
	font-family: Arial;
	overflow:  hidden;
}
#img01{
	text-align: center;
	width: 100%;
	margin: -80px 0;
}
#img02{
	text-align: center;
	width: 100%;
	margin: -60px 0;
}
#form01{
	background: #EFEEEE;
	margin: 250px auto 0 auto;
	width: 600px;
	height: 750px;
	border-radius: 30px;
}
#form02{
	background: #EFEEEE;
	margin: -750px 5% auto;
	width: 600px;
	height: 750px;
	border-radius: 30px;
}
#form03{
	background: #EFEEEE;
	margin: -750px 5% 70% auto;
	width: 600px;
	height: 750px;
	border-radius: 30px;
}

.group{
	margin: 0px;
	padding: 0px;
}
#text01{
	text-align: center;
	margin: -60px 0;
	font-size: 40px;
}
#line01{
	margin-top: 110px;
	width: 90%;
}
#line02{
	margin-top: -5px;
	width: 90%;
}
.text2{
	font-size: 20px;
	margin: 0 20px;
	color: #121212;
	text-align: center;
}
.text3{
	font-size: 30px;
    margin: 0 20px;
    padding: 10px;
    color: #3F3F3F;
}
#text4{
	text-align: center;	
	margin-left: 0%;
}

}
.con{
	font-size: 40px;
	margin: 0 20px;
	color: #121212;
}
#sot {
    display: inline-block;
    overflow: hidden;
}
#sot img {
    margin-left: 10px;
    transition: 1s;
    border-radius: 100px;
    padding: 3px;
}
#sot img:hover {
    transform: scale(1.1);
}
#sot img:focus {
	transform: scale(1.3);
}
